dist/
node_modules/
tmp/
pkg/
Umbraco.Test/
.sass-cache/
DocTypeInspection/Umbraco/packages/
DocTypeInspection/Umbraco/DocTypeInspection/bin/
DocTypeInspection/Umbraco/DocTypeInspection/obj/
DocTypeInspection/Umbraco/DocTypeInspection/packages/
DocTypeInspection/Umbraco/DocTypeInspection/DocTypeInspection/obj/Debug/
DocTypeInspection/Umbraco/DocTypeInspection/App_Data/NuGetBackup/
